version: '3.8'

services:
  mongodb:
    image: mongo:6-jammy
    container_name: order-mongodb
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db
    networks:
      - order-network

networks:
  order-network:
    driver: bridge

volumes:
  mongodb_data:
    driver: local
